.banner{
  padding: 210px;
  padding-left: 300px;
  background-size: cover;
  background-position: center;
  text-align: left;
}

.banner h1{
  font-weight: bold;
  color:white;
}

.banner p{
  font-size: 20px;
  color:rgba(247, 241, 241, 0.758)
}
